body {
     width: 100%;
    background-color: #2c2c2c;
    color:white;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
.uppernav{
    background-color: white;
    color:black;
    width:100%;
    font-size: 22px;
    height: 5vh;
    padding-bottom: 0.7%;
}
p{
    
    font-weight: bold;
}
#logo{
    width:100%;
    height: 30%;
    margin-left: 2%;
}
.navbar{
    background-color: #2c2c2c;
}
.navbar-nav a:hover{
    text-decoration: underline;
}
.section1{
    position:relative;
    text-align: center;
    color:rgb(0, 0, 0);
}
.section1-parent{
    position: absolute;
    background-color: rgba(218, 95, 213, 0.3);
    top:75%;
    left:50%;
    width:100%;
    height:50%;
    transform: translate(-50%, -50%);
}
.section1-child{
    position: relative;
    margin-top:6%;
    font-size: 40px;
    opacity: 1;
}
.section1 img{
    width:100%;
    height:82vh;
}
.section1
.carousel-item img{
    width: 100%;
    height:500px;
}
.trophy{
    height: 60px;
    width: 60px;
}
#sec2{
    color:white;
}
.section2{
    position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}
.section2 img{
    width:100%;
    height:80vh;
}
.section2-parent{
    top:75%;
    left:50%;
    width:100%;
    position: absolute;
    height:50%;
    transform: translate(-50%, -50%);
    background-color:rgba(218, 95, 213, 0.3) ;
}
.section2 p{
    margin-top:5%;
    font-size:40px;
}
.section2 a{
    font-size:20px;
    opacity: 0.9;
}
.section2 a button{
    background-color: black;
    color:white;
    width:33%;
    height: 10vh;
    font-weight: bold;
    padding:1%;
    border-radius: 20px;
    padding: 12px 45px;
    letter-spacing: 1px;
    cursor: pointer;
}
#sec3{
   text-align: center;
}
.section3{
    text-align: center;
    color:rgb(0, 0, 0);
    max-width: 100%;
    display: flex;
    flex-direction: row;
}
.secchild{
    width:33.2%;
}
.section3{
    font-size:27px;
}
.section3 .award1{
    position:relative;
    text-align: center;
}
.section3 .award1 .award1-parent{
    position: absolute;
    background-color:rgba(218, 95, 213, 0.3);
    width:100%;
    top: 81.5%;
    overflow: hidden;
    height:25vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section3 .award1 .award1-parent p{
    
    margin-top:11%;
}
.section3 .award2{
    position:relative;
    text-align: center;
}
.section3 .award2 .award2-parent{
    position: absolute;
    background-color:rgba(218, 95, 213, 0.3);
    width:100%;
    top: 81.5%;
    height:25vh;
    overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section3 .award2 .award2-parent p{
  
    margin-top:11%;
}
.section3 .award3{
    position:relative;
    text-align: center;
}
.award3 img{
    height:72vh;
}
.section3 .award3 .award3-parent{
    position: absolute;
    background-color:rgba(218, 95, 213, 0.3);
    top: 82%;
    height:25vh;
    width:100%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.section3 .award3 .award3-parent p{
   
    margin-top:11%;
}
.section3 .award3 img{
    min-width: 100%;
}
.section5-navbar{
    margin-top:2%;
    margin-bottom: 0;
}
.uppernav img{
    width:4%;height: 5vh;border-radius: 50%;margin-left:1%;
}
@media (max-width: 800px) {
    .section1 img{
        height:70vh;
    }
    .section2 img{
        height:69vh;
    }
    .section1-child{
        margin-top: 30%;
        font-size: 28px;
    }
    .uppernav img{
      margin-left: 0.3%;
        width: 13%;
    }
   .section2-parent p{
    margin-top:15%;
    font-size: 27px;
   }
   .section2 a button{
    margin-top:5%;
    width:70%;
    padding:2%;
    height:15vh;
}
   .award1-parent{
    height:10vh ;
    font-size: 10px;
    display: hidden;
   } 
   .section3 .award1 .award1-parent {
    position: absolute;
    background-color: rgba(218, 95, 213, 0.3);
    width: 100%;
    overflow: hidden;
    height: 14vh;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 72%;
}
   .section3 .award1 .award1-parent p {
    margin-top: 41%;
}
.img-fluid {
    max-width: 100%;
    height: 25vh;
    width: 50vw;
}
p {
    font-weight: bold;
    font-size: 17px;
}
.section3 .award1-parent,.award2-parent.award3-parent{
    background-color: rgba(218, 95, 213, 0.2);
}
.award3 img {
    height: 27vh;
}
.section3 .award2 .award2-parent {
    position: absolute;
    width: 100%;
    top: 72%;
    height: 14vh;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section3 .award2 .award2-parent p {
    margin-top: 42%;
}
.section3 .award3{
    width:35%;
}
.section3 .award3 .award3-parent {
    position: absolute;
    background-color: rgba(218, 95, 213, 0.3);
    top: 72%;
    height: 14vh;
    width: 95%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
.section3 .award3 .award3-parent p {
    margin-top: 45%;
}
.section3 .award2 .award2-parent p {
    margin-top: 25%;
}
.award3 img {
    height: 25vh;
}
.section3 .award2 .award2-parent p {
    margin-top: 41.4%;
}
  }
@media (min-width:801px) and (max-width:1500px) {
    .section3 img{
        height:30vh;
       width:100%;
    }
    .ap {
        font-size:20px;
        top:60%;
        min-height: 10vh;
        max-height: 14vh;
    }
    .section2 a button{
        width:55%;
    }
    .section3 .award3 .award3-parent {
        position: absolute;
        background-color: rgba(218, 95, 213, 0.3);
        top: 82%;
        height: 23vh;
        width: 100%;
        left: 50%;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }
}